.navbar {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #34435d;
  color: #fff;
  border-radius: 10px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 10px;
}

.navbar-one {
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 30px;
}

.navbar-two {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-three {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.navbar-four {
  display: flex;
  align-items: center;
  margin-left: 10px;
  background-color: transparent;
}

.logo {
  width: 50px;
  height: auto;
}

.social-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  width: 15px;
  height: auto;
  margin-right: 5px;
  margin-left: 5px;
}
.social-icon:hover {
  transform: scale(1.1);
}
.logo-text {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 3px;
}

.logo-text span {
  font-size: 12px;
  font-weight: bold;
}

.language-button {
  background-color: red;
  color: #fff;
  border: 1px solid #fff;
  padding: 3px 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.language-button:hover {
  background-color: #fff;
  color: #333;
  border-color: #333;
  transform: scale(1.05);
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 5px;
  padding: 3px 6px;
  border: 1px solid transparent;
}

.nav-links a:hover {
  color: #ffcc00;
  background-color: #4a4a4a;
  border-color: #ffcc00;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .navbar-left,
  .navbar-right {
    width: 100%;
    margin: 10px 0;
    justify-content: center;
    text-align: center;
  }

  .navbar-center,
  .navbar-three {
    width: 100%;
    margin: 10px 0;
    justify-content: center;
    text-align: center;
  }

  .navbar-left {
    order: 1;
  }

  .navbar-three {
    order: 2;
  }

  .navbar-center {
    order: 3;
  }

  .navbar-two,
  .navbar-four {
    width: 100%;
    margin: 10px 0;
    justify-content: center;
    text-align: center;
    order: 4;
  }
}
